/* 假设设计稿为750px宽 */
html {font-size: 13.3333vw;}
body {
    background-color: white;
    color: #333;
}
ul, h4 {
    margin: 0;
    padding: 0;
}

/* iconfont */
@font-face {
    font-family: "iconfont";
    src: url('../iconfont/iconfont.eot'); /* IE9*/
    src: url('../iconfont/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chrome, firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family:"iconfont" !important;
    font-size: .4rem;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/* 通用样式 */
.block-pic {
    display: block;
    max-width: 100%;
}

/* 页面主体 */
.app-main {padding-top: 2rem;}
.load {text-align: center;}
.search-result {
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(245, 245, 245);
}

/* 歌曲长列表 */
.songs-row {
    border-bottom: solid 1px #E5E5E5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0.14rem;
    font-size: .32rem;
    line-height: 4;
}
.songs-list {overflow: auto;}
.songs-lv .am-flexbox .songs-lv-name {flex: 15 1;}
html:not([data-scale]) .songs-lv .am-list-body::after {background-color: transparent;}
.songs-lv-row {
    border-bottom: solid 1px #E5E5E5;
    padding: .45rem .14rem;
    font-size: .32rem;
}
.songs-lv-num {
    font-size: .25rem;
    color: #999;
    text-align: center;
}
.songs-lv-three {
    color: white;
    background-color: #E80000;
    border-radius: .15rem;
    -webkit-border-radius: .15rem;
    -moz-border-radius: .15rem;
    line-height: 1.5;
}
.songs-lv-runner {background-color: #FF7200;}
.songs-lv-third {background-color: #F8B300;}
.songs-lv .am-list-footer {
    text-align: center;
    padding: 0;
    line-height: 2.5;
    font-size: .32rem;
}

/* 短列表 */
html:not([data-scale]) .songsl-list .am-list-body::before, html:not([data-scale]) .songsl-list .am-list-body::after {background-color: transparent;}
.songsl-list .am-list-item {
    padding-left: 0.14rem;
    border-bottom: solid 1px #DDD;
}
.songsl-list .am-list-item:first-child {border-top: none;}
.songsl-list .am-list-item:last-child {border-bottom: solid 1px #DDD;}
.songsl-list .am-list-item .am-list-line {padding-right: 0;}
html:not([data-scale]) .songsl-list .am-list-body div:not(:last-child) .am-list-line::after {background-color: transparent;}
.songsl-list .am-list-item .am-list-line .am-list-content {
    font-size: .32rem;
    color: #333;
    line-height: 3;
}
.songsl-lpb {padding-bottom: 1.8rem;}

/* 回顶部 */
.backt {
    background-color: rgba(0, 0, 0, .7);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: fixed;
    right: .25rem;
    bottom: 2rem;
    z-index: 10;
}