/* 假设设计稿为750px宽 */
html {font-size: 13.3333vw;}
body {background-color: white;}

/* 通用样式 */
.block-pic {
    display: block;
    max-width: 100%;
}

/* 页面主体 */
<<<<<<< HEAD
.app-main {padding-top: 1.9rem;}
.load {text-align: center;}
=======
.app-main {padding-top: 1.9rem;}
>>>>>>> 50f0af9cbe90e2788a4cd48a3f4c99093ca67b62
