.playerb {
    position: fixed;
    z-index: 50;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, .9);
    padding: .1rem 0 .1rem .1rem;
}
.playerb .am-flexbox .playerb-2 {flex: 2 1;}
.playerb audio {display: none;}
.playerb-center {
    color: #888;
    font-size: .2rem;
}
.playerb-center div {
    color: white;
    font-size: .25rem;
    line-height: 1.8;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.playerb-right {color: white;}
.playerb-right i {
    margin-right: .5rem;
    display: inline-block;
}
.playerb-right i:last-child {margin-right: 0;}
.playerb-avatar {
    border-radius: .1rem;
    -moz-border-radius: .1rem;
    -webkit-border-radius: .1rem;
    color: #888;
}
.playerb-right-load {
    animation: load 2s infinite;
    -webkit-animation: load 2s infinite;
}
@keyframes load {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@-webkit-keyframes load {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}