.big {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 70;
    top: 0;
    left: 0;
    /* filter: blur(.1rem); */
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.big-mask {
    position: absolute;
    z-index: 80;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .85);
    padding-top: 2.5rem;
}
.big-mask img {
    display: block;
    width: 3.5rem;
    margin: 0 auto .7rem;
}
.controller {
    color: #DDD;
    padding: 0 .3rem;
}
.controller-time {
    font-size: .24rem;
    color: #DCDCDC;
    line-height: 1.8;
}
.controller .controller-progress {
    background-color: #666;
    margin-bottom: .4rem;
}
.controller-btns {text-align: center;}
.controller-btns i {font-size: .8rem;}
.controller-btns i.controller-btns-pp {
    font-size: 1.2rem;
    vertical-align: sub;
    margin: 0 .5rem;
}