.big {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 70;
    top: 0;
    left: 0;
    /* filter: blur(.1rem); */
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.big-mask {
    position: absolute;
    z-index: 80;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .85);
    padding-top: 2.5rem;
}
.big-mask img {
    display: block;
    width: 3.5rem;
    margin: 0 auto .4rem;
}
.big-mask-nol {
    color: white;
    text-align: center;
    margin-bottom: .4rem;
    font-size: .32rem;
}
.controller {
    color: #DDD;
    padding: 0 .3rem;
}
.controller-time {
    font-size: .24rem;
    color: #DCDCDC;
    line-height: 1.8;
}
.controller .controller-progress {
    background-color: #666;
    margin-bottom: .4rem;
    border-radius: .1rem;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
}
.controller .controller-progress .am-progress-bar {
    border-radius: .1rem 0 0 .1rem;
    -webkit-border-radius: .1rem 0 0 .1rem;
    -moz-border-radius: .1rem 0 0 .1rem;
}
.controller-btns {text-align: center;}
.controller-btns i {
    font-size: .8rem;
    display: inline-block;
}
.controller-btns i.controller-btns-pp {
    font-size: 1.2rem;
    vertical-align: sub;
    margin: 0 .5rem;
}
.lyric {
    position: relative;
    z-index: 85;
    margin: 0 auto;
    overflow: hidden;
}
.lyric ul {
    position: absolute;
    z-index: 90;
    top: 0;
    left: 0;
    width: 100%;
    color: #ACACAC;
    list-style-type: none;
    font-size: .28rem;
    line-height: 2;
    text-align: center;
    transition: top .4s;
}
.lyric ul li.lyric-active {color: #D1C90E;}